@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-title: var(--font-montserrat, 'Montserrat');
  --font-body: var(--font-montserrat, 'Montserrat');
}

body {
  font-family: var(--font-body), 'sans-serif';
  color: white;
  background-color: #1B1E26;
}
